<div class="header box">
	<span class="head icon">|</span>
	<span class="head">行动列表</span>
	<div class="btnHeader head">
		<button class="btn btn-primary" (click)="turnToDetial()">添加行动</button>
	</div>
</div>
<main>
	<div class="condition-container box" style="min-width:580px;">
		<div class="condition">
			<label for="fullname" class="text-right">机构全称</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off" placeholder="机构关键字" 
					[(ngModel)]="default.company"
					(typeaheadOnSelect)="orgsOnSelect($event)"
					[typeaheadOptionField]="'organizationShortName'"
					[typeahead]="fullnameTypeAhead.source"
					[typeaheadOptionsLimit]="10"
					[typeaheadWaitMs]="200" 
					(blur)="blurCompany(company,$event)"
					(change)="changeCompany(company,$event)">
			</div>
		</div>
		<div class="condition">
			<label for="fullname" class="text-right">客户经理</label>
			<div class="condition-input">
				<select class="form-control">
					<option value="">全部</option>
					<option value="">重要</option>
					<option value="">一般</option>
					<option value="">无关</option>
				</select>
			</div>
		</div>
		<div class="condition">
			<label for="fullname" class="text-right">行动类型</label>
			<div class="condition-input">
				<select class="form-control">
					<option value="0">全部</option>
					<option value="1">上门拜访</option>
					<option value="2">电话回访</option>
					<option value="3">集体培训</option>
				</select>
			</div>
		</div>
		<div class="condition">
			<label for="fullname" class="text-right">联系人</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off" placeholder="关键字">
			</div>
		</div>
		<div class="condition">
			<label for="fullname" class="text-right">行动时间</label>
			<div class="condition-input">
				<p-calendar  [(ngModel)]="startDate" [maxDate]="endDate"    [locale]="cn" [showTime]="false"></p-calendar>&nbsp;到&nbsp;
				<p-calendar  [(ngModel)]="endDate"  [minDate]="startDate"  [locale]="cn" [showTime]="false"></p-calendar>
			</div>
		</div>

		<div class="btns">
            <div class="condition-btn">
                <button class="btn btn-primary sub" (click)="turnFirst()">查询</button>
            </div>
        </div>
		<div style="clear: both;"></div>
	</div>
	<!-- lists -->
<div class="tableList box">
    <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <td class="table-hover middle-list">操作</td>
                <td class="table-hover">客户经理</td>
                <td class="table-hover">机构简称</td>
                <td class="table-hover">所属部门</td>
                <td class="table-hover">行动时间</td>
                <td class="table-hover">联系人</td>
                <td class="table-hover">行动记录</td>
                <td class="table-hover">随访者</td>
                <td class="table-hover">行动类型</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let position of positionList">      
                <td>
	                <i class="fa fa-pencil-square-o" (click)="editShow(del,position)"></i>
	                <bSwitch style='background-color: #fff' switch-size="mini" (onChangeState)="onChange($event)"
	                 switch-on-color="success"
         			 switch-off-color="offColor">
				         
				  </bSwitch>
				</td>
                <td>{{position.positionName}}</td>
                <td>{{position.remark}}</td>
            </tr>
        </tbody>
    </table>
</div>
    <!-- 分页 -->
    <page [(pageObj)]="pageParams" (fnParent)="getDetailList()"></page>
</main>