<div class="mian">
	<div class="header clearfix">
		<span class="head icon">|</span><span class="head" >已分配机构列表</span>
		<div class="btnHeader head">
		<!-- <button class="btn btn-primary">查询</button> -->
			<button class="btn btn-primary" title="不能移除自身机构" [disabled]="flag==1" (click)="allocation(abandon)">批量移除</button>
			<!-- <button class="btn btn-primary" (click)="toChange()">分配机构</button> -->
			<button class="btn btn-primary" (click)="reTurn()">返回</button>
			<div style="float: right">当前客户经理:   {{lName}}-{{uName}}</div>
		</div>
	</div>
</div>
<div class="screen .clearfix">
		<div class="condition container-fluid">
			<span>机构简称：	</span><input #cm req placeholder="全部" class="form-control kuan" 
                    [(ngModel)]="customernName" 
                    [typeahead]="companylist" 
                    (typeaheadOnSelect)="typeaheadOnCompanys($event)" 
                    [typeaheadOptionField]="'organizationShortName'"          
                    [ngModelOptions]="{standalone: true}" 
                    (blur)="noSection(cm)">
                    <input type="text"  name="companyId" class="hide" [(ngModel)]="default.organizationId" [ngModelOptions]="{standalone: true}">
		</div>
		<div class="condition container-fluid">
			<span>金融机构分类</span><select name=""  class="form-control" [(ngModel)]="orgCondition.c1" (change)="getOrgCate2($event)">
					<option value="" selected>全部</option>
					<option value="{{org1.organizationCategoryId}}" *ngFor="let org1 of orgCate1">{{org1.categoryName}}</option>
				</select>
				<select [disabled]="!orgCate2" name=""  class="form-control" [(ngModel)]="orgCondition.c2">
					<option value="" selected>全部</option>
					<option value="{{org2.organizationCategoryId}}" *ngFor="let org2 of orgCate2">{{org2.categoryName}}</option>
				</select>
		</div>
		<div class="condition container-fluid">
			<span>机构所在地：</span><SELECT class="form-control kuan"  name="sheng" id="to_cn" #city (change)="set_city(city)" > 
				<option value=''>请选择</option> 
				<option value=北京>北京</option> 
				<option value=上海>上海</option> 
				<option value=天津>天津</option> 
				<option value=重庆>重庆</option> 
				<option value=河北>河北</option> 
				<option value=山西>山西</option> 
				<option value=辽宁>辽宁</option> 
				<option value=吉林>吉林</option> 
				<option value=黑龙江>黑龙江</option> 
				<option value=江苏>江苏</option> 
				<option value=浙江>浙江</option> 
				<option value=安徽>安徽</option> 
				<option value=福建>福建</option> 
				<option value=江西>江西</option> 
				<option value=山东>山东</option> 
				<option value=河南>河南</option> 
				<option value=湖北>湖北</option> 
				<option value=湖南>湖南</option> 
				<option value=广东>广东</option> 
				<option value=海南>海南</option> 
				<option value=四川>四川</option> 
				<option value=贵州>贵州</option> 
				<option value=云南>云南</option> 
				<option value=陕西>陕西</option> 
				<option value=甘肃>甘肃</option> 
				<option value=青海>青海</option> 
				<option value=内蒙古>内蒙古</option> 
				<option value=广西>广西</option> 
				<option value=西藏>西藏</option> 
				<option value=宁夏>宁夏</option> 
				<option value=新疆>新疆</option> 
				<option value=香港>香港</option> 
				<option value=澳门>澳门</option> 
				<option value=台湾>台湾</option> 
				<option value=其他地区>其他地区</option> 
				<option value=国外机构>国外机构</option> 
			</SELECT>
	<select id="city"  name="shi" class="form-control kuan" (change)="con_city()"> 
		<option value=''>请选择</option> 
	</select> 
		</div>
		<button class="condition btn btn-primary sub" (click)="turnFirst()">查询</button>
</div>
<div class="tableList">
		<div class = "loading" [ngClass]="setLoadClasses()" [ngStyle]="{'height': height }">
			<div class="loader">
				<div class="loader-inner">
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-hover ">
			<thead >
				<tr>
					<td class="info longTxt"><input #allcheck type="checkbox" name="allCheck" (change)="checkAll(allcheck)">机构简称</td>
					<td class="info ">金融机构分类1</td>
					<td class="info ">金融机构分类2</td>
					<td class="info shortTxt">机构所在地1</td>
					<td class="info shortTxt">机构所在地2</td>
				</tr>
			</thead>
			<tbody #XXX id="list" *ngFor="let new of customerList;let i=index" >
				<tr #userList  class="Userlist" >
					<td class="table-hover" > <input   type="checkbox" #listState name="user"  >{{new.organizationShortName }} </td>
					<td class="table-hover">{{new.firstCategoryName}}</td>
					<td class="table-hover" style="cursor: pointer">{{new.secondCategoryName}}</td>
					<td class="table-hover">{{new.province}}</td>
					<td class="table-hover">{{new.city}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
<!-- 分页 -->
	<div class="row pagerow" >
		<div class="pageshowleft">每页显示
			<select #selectPage name="" id="msgNum" (change)="sizeData(selectPage.value,userList)">
				<option #optionPage  *ngFor="let msgNumber of msgNumbers" value={{msgNumber.Number}}>{{msgNumber.Number}}</option>
			</select>
			条数据
		</div>
		<div class="pageshowmodle">
			<span>{{currentPage}} / {{totalPages}}</span>页
			<span>{{totalItems}}条数据</span>
		</div>

		<div class="pagefen">
			<pagination  [firstText]="firstText" [lastText]="lastText" [previousText]="previousText" [nextText]="nextText" [maxSize]="maxSize" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" [boundaryLinks]="true" (pageChanged)='pageChanged($event)' (numPages)='pageNumChange($event)' class="pagination-sm"></pagination>
		</div>
	</div>

	<!-- 批量移除 -->
	<div bsModal #abandon="bs-modal" class="modal fade modelPon" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content noproblem">
	            <div class="modal-header ">
	                <button type="button" class="close" aria-label="Close" (click)="abandon.hide()">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <h4 class="modal-title">批量移除</h4>
	            </div>
	            <div class="modal-body contentxinxi">
	                <div class="pp clearfix">是否移除选中的{{orgIdNum}}个机构？</div>
	                <div class="btnstyle">
	                    <button type="button" class="btn btn-default btnhoverlan" (click)="removeOrgList(abandon)">移除</button>
	                     <button type="button" class="btn btn-primary btnhoverju" (click)="abandon.hide()">取消</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>