<div style="background: #fff">
<div class="header box">
	<span class="head icon">|</span>
	<span class="head">行动详情</span>
	<div class="btnHeader head">
		<button class="btn btn-primary" (click)="turnToList()">返回</button>
	</div>
</div>
<div class="main">
	<div >
		<div class="he_title"><span style="font-size:16px">机构全称</span>：【<span style="font-size:13px">这里是机构全称</span>】</div>
		<div class="he_title"><span style="font-size:16px">机构简称</span>：【<span style="font-size:13px">机构简称</span>】</div>
	</div>
	<div class="condition">
		<label for="fullname" class="text-right">机构地址</label>
		<div class="condition-input">
			北京市海淀区万泉河路紫金大厦505#
		</div>
	</div>
	<div class="condition">
		<label for="fullname" class="text-right">行动类型</label>
		<div class="condition-input">
			北京市海淀区万泉河路紫金大厦505#
		</div>
	</div>
	<div class="condition">
		<label for="fullname" class="text-right">联系人</label>
		<div class="condition-input">
			北京市海淀区万泉河路紫金大厦505#
		</div>
	</div>
	<div class="condition">
		<label for="fullname" class="text-right">客户经理</label>
		<div class="condition-input">
			北京市海淀区万泉河路紫金大厦505#
		</div>
	</div>
	<div class="condition">
		<label for="fullname" class="text-right">随访人员</label>
		<div class="condition-input">
			北京市海淀区万泉河路紫金大厦505#
		</div>
	</div>
	<div class="condition">
		<label for="fullname" class="text-right">所属部门</label>
		<div class="condition-input">
			北京市海淀区万泉河路紫金大厦505#
		</div>
	</div>
	<div class="condition">
		<label for="fullname" class="text-right">开始时间</label>
		<div class="condition-input">
			北京市海淀区万泉河路紫金大厦505#
		</div>
	</div>
	<div class="condition">
		<label for="fullname" class="text-right">结束时间</label>
		<div class="condition-input">
			北京市海淀区万泉河路紫金大厦505#
		</div>
	</div>
	<div style="clear: both;"></div>	
</div>

<div class="info">
	<div class='info_head'>
		行动记录
	</div>
	<textarea>行动详情，我到这家公司拜访，他们态度挺好的，可是合作意向不太强
	</textarea>
</div>
<div class="info">
	<div class='info_head'>
		业务需求
	</div>
	<textarea>行动详情，我到这家公司拜访，他们态度挺好的，可是合作意向不太强
	</textarea>
</div>
<div class="info">
	<div class='info_head'>
		产品需求
	</div>
	<textarea>行动详情，我到这家公司拜访，他们态度挺好的，可是合作意向不太强
	</textarea>
</div>
<div class="info">
	<div class='info_head'>
		图片记录
	</div>
	<div  class='info_img'>
		<img src="../../../../public/images/showCard.jpg">
	</div>
	<div  class='info_img'>
		<img src="../../../../public/images/showCard.jpg">
	</div>
	<div  class='info_img'>
		<img src="../../../../public/images/showCard.jpg">
	</div>
	<div  class='info_img'>
		<img src="../../../../public/images/showCard.jpg">
	</div>
	<div  class='info_img'>
		<img src="../../../../public/images/showCard.jpg">
	</div>
	<div  class='info_img'>
		<img src="../../../../public/images/showCard.jpg">
	</div>
	<div style="clear: both;"></div>	
</div>
<div style="clear: both;"></div>	
</div>