.clearfix {
	clear:both;
	overflow: auto;
	zoom: 1;
}
.btn{
	border-radius: 0;
	padding:5px 16px;
}
.btn-primary:hover{
	background-color: #fb6300;
	color: #fff;
	border-color:#fb6300;
}
.btn-default:hover{
	background-color: #337ab7;
	color:#fff;
	border-color:#2e6da4;
}
.header{
	overflow: hidden;
	height: 60px;
	border-bottom:solid 1px #e1e7eb;
	padding-left: 6px; 
}
.header span{
	font:600 14px "微软雅黑";
	color: #333;
	line-height: 60px;
	margin-left: 10px;
}
.header .icon{
	font-size: 16px;
	color:#f44336;
}
.header .head{
	float: left;
}
.header .btnHeader{
	height: 32px;
	margin-left: 50px;
	margin-top: 14px;
}
.header .btnHeader .btn{
	margin-right: 10px;
}

/*详情*/
.content{
	width: 100%;
	margin: 1%;
}
.newsTxt{
	width: 100%;
	/*height: 330px;*/
	float: left;
}

.newsTxt,.newsMsg,.picMsg{
	border: solid 1px #e1e7eb;
	margin-bottom: 10px
}
.newsHeader{
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	background-color: #eef;
}
.newsTitle{
	font-size: 16px;
	font-weight: 600;
}
.inner{

}
.sed{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	font-weight: 600 
}
.K-V{
	/*width: 100%;*/
	text-align: left;
	margin: 10px;
}
.newsKey{
	display: block;
	height: 32px;
	line-height: 32px;
	width: 110px;
	font-weight: 600;
	text-align: left;
	float: left;
}
.sqr{
	width: 100px;
	height: 80px;
	border: 1px;
	float: left;
	margin-left: 15px;
	
}
.newsVal{
	height: 120px;
	display: block;
	width: 50%;
	text-align: left;
	float: left;
}
.newsVal img{
	float: left;
	width: 80px;
	height: 80px;
	margin:10px;
}
.conTit{
	margin:5px 0;
	font-size: 14px;
	font-weight: 600
}
.tip{
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	height: 20px;
	color: #fff;
	border-radius: 8px;
	background: #f55;
	margin-left: 5px;
	padding-right: 10px;
}
.sqTit{
	color: #fff;
	text-align: center;
	margin-top: 3px;
	/*text-shadow:0px 2px 13px #000;*/
}
.sqNum{
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-weight: 600
}
/*查询条件*/
.screen{
	margin-top: 14px;
	margin-left: 16px;
	padding:16px 0 16px 16px; 
	border:solid 1px #e1e7eb; 
	float: left;
	/*box-sizing: content-box;*/

}
.condition{
	display: inline;
	margin: 5px;
	float: left;
}
.condition span{
	display: inline-block;
	width: 100px
}
.condition input{
	width: 150px;
	display: inline;

}
.screen .btn{
	margin: 6px 50px;
	
}
#list input{
	margin: 5px;
}
.selection{
	width: 150px;
	height: 35px;
	border: solid 1px #ccc;
	border-radius: 5px;
}
.ng-valid[req], .ng-valid.req {
  border-left: 5px solid #42A948; /* green */
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
/*table*/
a,a:active,a:hover{
	color:#377dc2;
	text-decoration: none;
}
.newsMsgOther{
	margin-top: 10px;
}
.newsMsg{
	overflow: hidden;
}
.tableList{
	width: 100%;
	/*height: 300px;*/
	overflow-x: scroll;
	/*margin-top: 16px;*/
	padding: 16px;
}
.table{
	width: 990px;
}
.table tr{
	height: 32px;
	line-height: 32px;

}
.table tr:active{
	color: blue;
	background: #bfa;
}
.verify,.revisit{
	color: #367ec1;
	cursor: pointer;
}
.middleTxt{
	width: 200px;
}
.longTxt{
	width: 300px;
}
.tabActive{
	background-color: #ffe;
}
a,a:active,a:hover {
	color: #337ab7;
	text-decoration: none;
}
#spWord{
	text-align: center;
	color: red;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	border-radius: 5px;
	padding: 0;
	margin-top: 6px;
	margin-left: 10px;
	float: right;
}
/*分页*/
.pagerow{
	height:auto;
	background:#f5f7fb;
	width:98%;
	border:1px #dadada solid;
	margin:0 16px;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-o-box;
}
.pageshowleft{
	width:190px;
	height:66px;
	line-height:66px;
	margin-left:15px;
}
.pageshowleft select{
	width:50px;
	height:34px;
	line-height:34px;
	background:#fff;
}
.pageshowmodle{
	-webkit-box-flex:1;
	line-height:66px;
	text-align: center;
}
.pagefen{
	height:66px;
	line-height:66px;
	margin-right:16px;
}

/*弹窗*/
.delete{
	width: 350px;
	height: 300px

}
.noproblem{
	width: 350px;
	height: 250px

}
.win_head{
	width: 80px;
	font:18px '黑体';
	text-align: right;
	margin-right: 10px;
	float: left;
}
.pp{
	width: 100%;
	margin-bottom: 20px
}
.visState{
	float: left;
	width: 200px;
	height: 120px;
}
.btnstyle{
	position: absolute;
	right: 10px;
}
.delete{
	width: 350px;
	height: 300px

}
.noproblem{
	width: 350px;
	height: 250px

}

.visState{
	float: left;
	width: 200px;
	height: 120px;
}
.btnstyle{
	position: absolute;
	right: 10px;
}


table{
	table-layout:fixed
}
tr{
	
}
td{
	height: 38px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	background: #fff;
}
.td{
	/*height: 38px;*/
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	background: #fff;
}
.file-upload-thumbnail{
    width:150px;
    height:150px;
}
.file-upload-thumbnail img{
	width:150px;
    height:150px;
}
.filescss{
	height:25px;
}