main{
	margin:10px
}
.red{
	color:red
}
i{
	cursor:pointer
}
.condition .condition-input .twoContact{
	min-width:88px;
	width:88px;
	font-size:14px;
	padding:0
}
.header{
	min-width:1080px;
}
.modal-dialog{
	width:400px
}
.right-fluid{
}
.right-fluid .btn{
	float:right;
	margin:10px 10px 10px 0 
}
.modal-body .condition{
 min-width:340px
}
.tb{
	float:right;margin-right: 22px;max-height: 231px;overflow-y: scroll
}
