.clearfix {
  clear:both;
  overflow: auto;
  zoom: 1;
}
.btn{
	border-radius: 0;
	padding:5px 16px;
}
.btn-primary:hover{
	background-color: #fb6300;
	color: #fff;
	border-color:#fb6300;
}
.btn-default:hover{
	background-color: #337ab7;
	color:#fff;
	border-color:#2e6da4;
}

.verval{
	width: 200px;
}
.hide{
	display: none;
}

/*header*/
.header{
	overflow: hidden;
	height: 60px;
	border-bottom:solid 1px #e1e7eb;
	padding-left: 6px; 
}
.header span{
	font:600 14px "微软雅黑";
	color: #333;
	line-height: 60px;
	margin-left: 10px;
}
.header .icon{
	font-size: 16px;
	color:#f44336;
}
.header .head{
	float: left;
}
.header .btnHeader{
	height: 32px;
	margin-left: 50px;
	margin-top: 14px;
}
.header .btnHeader .btn{
	margin-right: 10px;
}
/*查询条件*/
.screen{
	margin: 14px;
	/*margin-left: 16px;*/
	padding:16px 0 16px 16px; 
	border:solid 1px #e1e7eb; 
	float: left;
	/*box-sizing: content-box;*/

}
.condition{
	display: inline;
	margin: 10px;
	float: left;
}
.condition span{
	display: inline-block;
	width: 100px
}
.condition input{
	width: 150px;
	display: inline;

}
.screen .btn{
	margin: 6px 50px;
	
}
#list input{
	margin: 5px;
}
.selection{
	width: 150px;
	height: 34.4px;
	padding: 5.2px 0;
	border: solid 1px #ccc;
	border-radius: 5px;
}
.ng-valid[req], .ng-valid.req {
  border-left: 5px solid #42A948; /* green */
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.package{
	margin: 16px;
}
.c_all{
	width: 500px;
	height: 100px;
	border: 1px solid #ddd;
	float: left;
	margin:15px;
	font-size: 18px;
	padding: 10px
}
.c_content{
	font-weight: 600
}

/*table*/
.tableList{
	width: 100%;
	/*height: 300px;*/
	/*overflow-x: scroll;*/
	/*margin-top: 16px;*/
	padding: 16px;
}
.table{
	/*width: 1800px;*/
}
table{
	table-layout:fixed
}


td{
	height: 38px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	/*background: #fff;*/
}
/*td:hover 
{ 
text-shadow: 10px 10px 10px #fff;
z-index: 100;
text-overflow:inherit; 
overflow:visible; 
color: blue;

} */
.table tr{
	height: 32px;
	line-height: 32px;

}
.table tr:active{
	color: blue;
}
.verify,.revisit{
	color: #367ec1;
	cursor: pointer;
	padding:5px 10px;
}
.middleTxt{
	width: 200px;
}
.longTxt{
	width: 300px;
}
.shortTxt{
	width: 100px;
}

.bord{
	margin: 16px;
    padding: 10px;
    width: 500px;
   line-height: 32px;
    border: 1px solid #cdd;
    font-size: 16px;
}
.bord select{
    height: 32px;
    margin: 0 10px;
    border-radius: 3px;
    float: right;
}
/*分页*/
.pagerow{
	height:auto;
	background:#f5f7fb;
	width:98%;
	border:1px #dadada solid;
	margin:0 16px;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-o-box;
}
.pageshowleft{
	width:190px;
	height:66px;
	line-height:66px;
	margin-left:15px;
}
.pageshowleft select{
	width:50px;
	height:34px;
	line-height:34px;
	background:#fff;
}
.pageshowmodle{
	-webkit-box-flex:1;
	line-height:66px;
	text-align: center;
}
.pagefen{
	height:66px;
	line-height:66px;
	margin-right:16px;
}