.middle-list{
	width:110px
}
.red{
	color:red      
}
.fa{
	padding: 0 5px;
	cursor:pointer
}
.modal-dialog{
	width:500px
}
.right-fluid{
	float:right;
	height: 50px; 
	padding: 10px; 
}
.bfff{
	background-color:#fff
}