/*排序*/
.order{
    float: right;
    width: 20px
}
.order button{
    width: 20px;
    float: left;
    height: 10px;
    border: none;
    font-size: 12px;
    background-color:inherit;
}
.order button:focus{
    color: #367ec1
}
