<!-- 	<a class="btn btn-primary" routerLink='./sns-news-list'  routerLinkActive="active" >资讯列表</a>
	<a class="btn btn-primary" [routerLink]="['./' , { outlets: { primary: 'sns-news-details' } }]" routerLinkActive="active">资讯详情</a>
	<a class="btn btn-primary" [routerLink]="['./' , { outlets: { primary: 'sns-news-change' } }]" routerLinkActive="active">修改资讯</a>
	<a class="btn btn-primary" [routerLink]="['./' , { outlets: { primary: 'sns-news-add' } }]" routerLinkActive="active">添加资讯</a> -->
<!-- <hr> -->

	<div class="content">
		<router-outlet></router-outlet>
	</div>