<div class="header">
	<span class="head icon">|</span>
	<span class="head">动态列表</span>
	<div class="btnHeader head">
		<button class="btn btn-primary" (click)="addToSpecial()">添加到推荐</button>
	</div>
</div>
<main>
    <div class="condition-container"> 
        <div class="conditions" style="min-width:580px;">
            <div class="condition">
                <label for="fullname" class="text-right">发布时间</label>
                <div class="condition-input">
                	<input [(ngModel)]="defult.time_begin" class="form-control"  type="date">&nbsp;到&nbsp;<input [(ngModel)]="defult.time_end" class="form-control" type="date">
                </div>
            </div>
            <div class="condition">
                <label for="fullname" class="text-right">姓名</label>
                <div class="condition-input">
                    <input   [(ngModel)]="defult.auth" placeholder="全部" class="form-control">
                </div>
            </div>
            <div class="condition" >
                <label for="fullname" class="text-right">账号类型</label>
                <div class="condition-input">
                    <select [(ngModel)]="defult.account_type" value='1' class="form-control">
	                    <option value="0">全部</option>
	                    <option value='1'>一般用户 </option>
	                    <option value='2'>大V账号</option>
	                    <option value='3'>官方账号</option >
	                    <option value='4'>运营账号</option>
                    </select>
                </div>
            </div>
            <div class="condition">
                <label for="fullname" class="text-right">是否被举报</label>
                <div class="condition-input">
                    <select [(ngModel)]="tip" value='2' class="form-control" >
	                    <option value='2'>全部</option>
	                    <option value='1'>是</option>
	                    <option value='0'>否</option>
                    </select>
                </div>
            </div>
             <div class="condition">
                <label for="fullname" class="text-right">是否含敏感词</label>
                <div class="condition-input">
                    <select [(ngModel)]="special" value='2' class="form-control" >
	                    <option value='2'>全部</option>
	                    <option value='1'>是</option>
	                    <option value='0'>否</option>
                    </select>
                </div>
            </div>
             <div class="condition">
                <label for="fullname" class="text-right">是否被删除</label>
                <div class="condition-input">
                    <select [(ngModel)]="del" value='2' class="form-control" >
	                    <option value='2'>全部</option>
	                    <option value='1'>是</option>
	                    <option value='0'>否</option>
                    </select>
                </div>
            </div>
            <div class="btns">
                <div class="condition-btn">
                    <button class="btn btn-primary sub" (click)="turnFirst()">查询</button>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
 
	<div class="tableList" >
		<!-- <div class = "loading" [ngClass]="setLoadClasses()" [ngStyle]="{'height': height }">
			<div class="loader">
				<div class="loader-inner">
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
					<div class="loader-line-wrap">
						<div class="loader-line"></div>
					</div>
				</div>
			</div>
		</div> -->
		<table class="table table-bordered table-hover " [ngClass]="setListClasses()">
			<thead >
				<tr>
					<td class="table-hover" style="width: 40px"><input *ngIf="1" #allcheck type="checkbox" name="allCheck"  (change)="checkAll(allcheck)"></td>
					<td class="table-hover" style="text-align:center;width:150px">操作</td>
					<td class="table-hover" style="width:200px">动态正文</td>
					<td class="table-hover middleTxt"  style="width:160px">发布时间<div class="order"><button class="fa fa-chevron-up" aria-hidden="true" (click)="Order('create_time','asc')"></button><button class="fa fa-chevron-down"  aria-hidden="true" (click)="Order('create_time','desc')"></button></div></td>
					<td class="table-hover " style="width:150px">注册手机号</td>
					<td class="table-hover" style="width:100px">姓名</td>
					<td class="table-hover shortTxt">账号类型</td>
					<!-- <td class="table-hover shortTxt">浏览量</td> -->
					<td class="table-hover shortTxt" >评论量<div class="order"><button class="fa fa-chevron-up" aria-hidden="true" (click)="Order('comment_cnt','asc')"></button><button class="fa fa-chevron-down"  aria-hidden="true" (click)="Order('comment_cnt','desc')"></button></div></td>
					<td class="table-hover shortTxt">点赞量<div class="order"><button class="fa fa-chevron-up" aria-hidden="true" (click)="Order('like_cnt','asc')"></button><button class="fa fa-chevron-down"  aria-hidden="true" (click)="Order('like_cnt','desc')"></button></div></td>
					<td class="table-hover shortTxt">分享量<div class="order"><button class="fa fa-chevron-up" aria-hidden="true" (click)="Order('repost_cnt','asc')"></button><button class="fa fa-chevron-down"  aria-hidden="true" (click)="Order('repost_cnt','desc')"></button></div></td>
					<td class="table-hover tip">被举报</td>
					<td class="table-hover tip">敏感词</td>
					<td class="table-hover tip">已删除</td>	
				</tr>
			</thead>
			<tbody #XXX id="list" *ngFor="let share of shares">
				<tr  #shareList>
					<td><input type="checkbox" #listState name="user" (click)="approve()"></td>
					<td class="table-hover" style="text-align: center"><a class="verify" (click)="check(share.wid)">查看</a>&nbsp;&nbsp;<a class="revisit" (click)="noProb(noProblem,share.wid)" *ngIf="share.is_tip==1||share.special_word!=''">无问题</a>&nbsp;&nbsp;<a class="revisit" (click)="deleteShare(deleted,share.is_tip,share.wid,share.special_word)" *ngIf="share.is_del==0">删除</a></td>
					<td class="shareContent" #content></td>
					<td >{{share.time}}</td>
					<td >{{share.user_phone}}</td>
					<td >{{share.user_name}}</td>
					<td >{{share.account_name}}</td>
					<td >{{share.comment_cnt}}</td>
					<td >{{share.like_cnt}}</td>
					<td >{{share.repost_cnt}}</td>
					<td ><span *ngIf="share.is_tip==1">√</span></td>
					<td ><span *ngIf="share.special_word">√</span></td>
					<td ><span *ngIf="share.is_del==1">√</span></td>	
				</tr>	
			</tbody>
		</table>
	</div>
</main>	
	<!-- 分页 -->
	<div class="row pagerow" [ngClass]="setListClasses()">
		<div class="pageshowleft">每页显示
			<select #selectPage name="" id="msgNum" (change)="sizeData(selectPage.value,userList)">
				<option #optionPage  *ngFor="let msgNumber of msgNumbers" value={{msgNumber.Number}}>{{msgNumber.Number}}</option>
			</select>
			条数据
		</div>
		<div class="pageshowmodle">
			<span>{{currentPage}} / {{totalPages}}</span>页
			<span>{{totalItems}}条数据</span>
		</div>

		<div class="pagefen">
			<pagination  [firstText]="firstText" [lastText]="lastText" [previousText]="previousText" [nextText]="nextText" [maxSize]="maxSize" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" [boundaryLinks]="true" (pageChanged)='pageChanged($event)' (numPages)='pageNumChange($event)' class="pagination-sm"></pagination>
		</div>
	</div>

	<!--删除弹窗-->
<div bsModal #deleted="bs-modal" class="modal fade modelPon" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content delete">
			<div class="modal-header ">
				<button type="button" class="close" aria-label="Close" (click)="deleted.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">删除动态</h4>
			</div>
			<div class="modal-body contentxinxi">
				<div class="pp clearfix"><div class="win_head">处理理由</div><span>{{is_tip}}</span><span>{{is_special}}</span></div>
				<div class="pp clearfix"><div class="win_head" >备注</div><textarea class="visState" [(ngModel)]="del_note"></textarea></div>
				<div class="btnstyle">
					<button type="button" class="btn btn-default btnhoverlan" (click)="deleted.hide()">取消</button>
					<button type="button" class="btn btn-primary btnhoverju" (click)="deletedInfo(deleted)">提交</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 无问题 -->
<div bsModal #noProblem="bs-modal" class="modal fade modelPon" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content noproblem">
            <div class="modal-header ">
                <button type="button" class="close" aria-label="Close" (click)="noProblem.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">动态判定为无问题</h4>
            </div>
            <div class="modal-body contentxinxi" style="height:200px">
                <div class="pp clearfix"><div class="win_head" style="width:40px">备注</div><textarea [(ngModel)]="note" class="visState" ></textarea></div>
                <div class="btnstyle">
                    <button type="button" class="btn btn-default btnhoverlan" (click)="noProblem.hide()">取消</button>
                    <button type="button" class="btn btn-primary btnhoverju" (click)="setTip(noProblem)">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
