.clearfix {
  clear:both;
  overflow: auto;
  zoom: 1;
}
.btn{
	border-radius: 0;
	padding:5px 16px;
}
.btn-primary:hover{
	background-color: #fb6300;
	color: #fff;
	border-color:#fb6300;
}
.btn-default:hover{
	background-color: #337ab7;
	color:#fff;
	border-color:#2e6da4;
}
/*header*/
.header{
	overflow: hidden;
	height: 60px;
	border-bottom:solid 1px #e1e7eb;
	padding-left: 6px; 
}
.header span{
	font:600 14px "微软雅黑";
	color: #333;
	line-height: 60px;
	margin-left: 10px;
}
.header .icon{
	font-size: 16px;
	color:#f44336;
}
.header .head{
	float: left;
}
.header .btnHeader{
	height: 32px;
	margin-left: 50px;
	margin-top: 14px;
}
.header .btnHeader .btn{
	margin-right: 10px;
}

/*查询条件*/
.screen{
	margin-top: 14px;
	margin-left: 16px;
	padding:16px 0 16px 16px; 
	border:solid 1px #e1e7eb; 
	float: left;
	/*box-sizing: content-box;*/

}
.condition{
	display: inline;
	margin: 5px;
	float: left;
}
.condition span{
	display: inline-block;
	width: 100px
}
.condition input{
	width: 150px;
	display: inline;

}
.screen .btn{
	margin: 6px 60px;
	
}
#list input{
	margin: 5px;
}
.selection{
	width: 150px;
	height: 35px;
	border: solid 1px #ccc;
	border-radius: 5px;
}
.ng-valid[req], .ng-valid.req {
  border-left: 5px solid #42A948; /* green */
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.td{
	/*height: 38px;*/
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	background: #fff;
}
/*table*/
.tableList{
	width: 100%;
	/*height: 300px;*/
	overflow-x: scroll;
	/*margin-top: 16px;*/
	padding: 16px;
}
.table{
	width:1800px;
}
table{
	table-layout:fixed
}
tr{
	
}
td{
	height: 38px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	background: #fff;
}
/*td:hover 
{ 
text-overflow:inherit; 
overflow:visible; 
color: blue;

} */
.table tr{
	height: 32px;
	line-height: 32px;

}
.table tr:active{
	color: blue;
	background: #bfa;
}
.verify,.revisit{
	color: #367ec1;
	cursor: pointer;
}
.middleTxt{
	width: 200px;
}
.longTxt{
	width: 300px;
}
.shortTxt{
	width: 100px;
}
/*分页*/
.pagerow{
	height:auto;
	background:#f5f7fb;
	width:98%;
	border:1px #dadada solid;
	margin:0 16px;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-o-box;
}
.pageshowleft{
	width:190px;
	height:66px;
	line-height:66px;
	margin-left:15px;
}
.pageshowleft select{
	width:50px;
	height:34px;
	line-height:34px;
	background:#fff;
}
.pageshowmodle{
	-webkit-box-flex:1;
	line-height:66px;
	text-align: center;
}
.pagefen{
	height:66px;
	line-height:66px;
	margin-right:16px;
}
.loading{
	width: 100%;
	/*height: 500px;*/
	background: #fff;
	position: absolute;
}

.loader {
/*    background: #000;
    background: -webkit-radial-gradient(#222, #000);
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;*/
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    -webkit-animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
            animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { -webkit-animation-delay: -50ms; animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { -webkit-animation-delay: -100ms; animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { -webkit-animation-delay: -150ms; animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { -webkit-animation-delay: -200ms; animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { -webkit-animation-delay: -250ms; animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@-webkit-keyframes spin {
    0%, 15% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes spin {
    0%, 15% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
/**弹窗*/
.pp{
	text-align: center;
	font: 20px "微软雅黑";
	line-height: 40px;
}
.btnstyle{
	margin: 20px 0;
	position: absolute;
	right: 10px;
}
.delete{
	width: 350px;
	height: 300px

}
.noproblem{
	width: 350px;
	height: 180px

}