<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>债金所</b>后台管理</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <form novalidate #form="ngForm" (ngSubmit)="submit(form)">
      <div class="form-group has-feedback" [class.has-error]="hasError">
        <input type="text" class="form-control" placeholder="登录帐号" 
        name="loginName" [(ngModel)]="loginName">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [class.has-error]="hasError">
        <input type="password" class="form-control" placeholder="登录密码"
        name="loginPassword" [(ngModel)]="loginPassword">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="alert alert-danger alert-dismissible" [hidden]="hasError==false">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> 出错了!</h4>{{errorMsg}}
      </div>
      <div class="row">
        <!-- <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> 记住我
            </label>
          </div>
        </div> -->
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block">登 录</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <!-- /.social-auth-links -->
  </div>
  <!-- /.login-box-body -->
</div>