*{
	margin: 0;
	padding: 0;
}
.clearfix {
  clear:both;
  overflow: auto;
  zoom: 1;
}
.btn{
	border-radius: 0;
	padding:5px 16px;
}
.btn-primary:hover{
	background-color: #fb6300;
	color: #fff;
	border-color:#fb6300;
}
.btn-default:hover{
	background-color: #337ab7;
	color:#fff;
	border-color:#2e6da4;
}
.header{
	overflow: hidden;
	height: 60px;
	border-bottom:solid 1px #e1e7eb;
	padding-left: 6px; 
}
.header span{
	font:600 14px "微软雅黑";
	color: #333;
	line-height: 60px;
	margin-left: 10px;
}
.header .icon{
	font-size: 16px;
	color:#f44336;
}
.header .head{
	float: left;
}
.header .btnHeader{
	height: 32px;
	margin-left: 50px;
	margin-top: 14px;
}
.header .btnHeader .btn{
	margin-right: 10px;
}
/*查询条件*/
.screen{
	margin-top: 14px;
	margin-left: 16px;
	/*padding:16px 0 16px 16px;*/ 
	border:solid 1px #e1e7eb; 
	float: left;
	/*box-sizing: content-box;*/

}
.screen textarea{
	border: solid 1px #ccc;
	border-radius: 5px;
}
.screenTop{
	font-weight: bold;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #e1e7eb;
	background: #f5f5f5;
	text-indent: 20px;
	line-height: 40px;
}
.waitCheckTab{
	display: inline-block;
	color: white;
	height: 26px;
	line-height: 25px;
	text-align: center;
	width: 70px;
	background: #d9534f;
	border-radius: 13px;
}
.screen td:nth-child(1){
	font-weight: bold;
}
.screen td:nth-child(2){
	text-indent: 30px;
}
.btn2{
	background: #fff;
	border: 1px solid #e1e7eb;
	margin: 0 10px;
}
.condition{
	display: inline;
	margin: 5px;
	float: left;
}
.condition span{
	display: inline-block;
	width: 90px
}
.conditionAddr{
	width: 600px;
}
.conditionAddr span{
	width: 120px;
}
.conditionAddr input{
	width: 400px !important;
	height: 35px;
	border: solid 1px #ccc;
	border-radius: 5px;
}
.conditionAddr textarea{
	border: solid 1px #ccc;
	border-radius: 5px;
}
.condition input{
	width: 150px;
	display: inline;

}
.screen{
	width: 96%;
}
.screen .btn{
	margin: 6px 50px;
}
#list input{
	margin: 5px;
}
.selection{
	width: 150px;
	height: 35px;
	border: solid 1px #ccc;
	border-radius: 5px;
}
.ng-valid[req], .ng-valid.req {
  border-left: 5px solid #42A948; /* green */
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
/*table*/
.tableList{
	width: 100%;
	/*height: 300px;*/
	overflow-x: scroll;
	/*margin-top: 16px;*/
	padding: 16px;
}

.table tr{
	height: 32px;
	line-height: 32px;

}

.table>tbody>tr>td{
	/* line-height: 2.428571; */
	vertical-align: middle;
}
.table tr:active{
	color: blue;
	background: #bfa;
}
.verify,.revisit{
	color: #367ec1;
	cursor: pointer;
}
/* 表格宽度 */
.middleTxt{
	/* width: 200px; */
	/* min-width: 200px; */
	padding: 10px;
}
.longTxt{
	width: 400px;
}
.shortTxt{
	width: 100px;
}
.addModify{
	width: 200px;
	margin: 0 auto;
}
/*分页*/
.pagerow{
	height:auto;
	background:#f5f7fb;
	width:98%;
	border:1px #dadada solid;
	margin:0 16px;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-o-box;
}
.pageshowleft{
	width:190px;
	height:66px;
	line-height:66px;
	margin-left:15px;
}
.pageshowleft select{
	width:50px;
	height:34px;
	line-height:34px;
	background:#fff;
}
.pageshowmodle{
	-webkit-box-flex:1;
	line-height:66px;
	text-align: center;
}
.pagefen{
	height:66px;
	line-height:66px;
	margin-right:16px;
}

/*弹窗*/



/*弹窗*/
/* .delete{
	width: 800px;
	height: 450px;
}
.modifyContent{
	width: 700px;
}
.noproblem{
	width: 350px;
	height: 200px

} */
.win_head{
	width: 80px;
	font:18px '黑体';
	text-align: right;
	margin-right: 10px;
	float: left;
}
.pp{
	width: 100%;
	margin-bottom: 20px
}
.visState{
	float: left;
	width: 200px;
	height: 120px;
}
.btnstyle{
	position: absolute;
	right: 5%;
	bottom: 10px;
}
.texIndent{
	text-indent: -99999px;
}
.modal-contentding{border-radius:0;width:450px;height:250px;}
.modal-header{background:#f6f7fb;}
.modal-header{
	padding: 10px;
}
.myModal{
	position: fixed;
	width: 450px;
	top:50%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -100px  auto 0;
}

.cont{
    padding: 10px  ;
    min-height: 100px;
    text-align: center;
}



/* 开关 */
.box{
	width: 60px;
	height: 30px;
	/* background: #377dc2; */
	background: #3377a2;
	border-radius: 30px;
	margin: 0 auto;
	position: relative;
}
.box .onOff{
	width: 30px;
	height: 30px;
	color: white;
	line-height: 30px;
	text-align: center;
	/* top: -7px; */
	border-radius: 50%;
	position: absolute;
}
.box .onOff:hover{
	cursor: pointer;
}
.box .on{
	left: 30px;
	background: #377dc2;
}
.box .off{
	
	/* left: -2px; */
	background:#ccc;
}
.myInput{
	text-align: center;
	border: 1px solid #ccc;
    border-radius: 4px;

    margin: auto;
}

