<div class="header box">
	<span class="head icon">|</span>
	<span class="head">编辑联系人</span>
	<div class="btnHeader head">
		<button class="btn btn-primary" (click)="turnToDetial()">保存</button>
		<button class="btn btn-primary" (click)="turnToList()">放弃编辑</button>
	</div>
</div>
<main class="box">
	<div class="left_box">
		<div class="condition">
			<label for="fullname" class="text-right"><b class="red">*</b>联系人姓名</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off"	[(ngModel)]="default.username">
			</div>
		</div>	
		<div class="condition">
			<label for="fullname" class="text-right"><b class="red">*</b>机构全称</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off"
					[(ngModel)]="default.company"
					(typeaheadOnSelect)="orgsOnSelect($event)"
					[typeaheadOptionField]="'organizationShortName'"
					[typeahead]="fullnameTypeAhead.source"
					[typeaheadOptionsLimit]="10"
					[typeaheadWaitMs]="200" 
					(blur)="blurCompany(company,$event)"
					(change)="changeCompany(company,$event)">
				<input type="text" name="companyId" style="display: none" [(ngModel)]="default.companyId">
				<button class="btn btn-primary btnInline" (click)="addOrg.show()">添加机构</button>
			</div>
		</div>
		<div class="condition">
			<label for="fullname" class="text-right">机构简称</label>
			<div class="condition-input">
				<input [disabled]="1"  type="text" class="form-control" #company name="company" autocomplete="off"	[(ngModel)]="default.organizationShortName">
			</div>
		</div>	
		<div class="condition">
			<label for="fullname" class="text-right"><b class="red">*</b>部门</label>
			<div class="condition-input">
				<input type="text" class="form-control" id="department" name="department" 
					[(ngModel)]="default.department"
					(typeaheadOnSelect)="depsOnSelect($event)"
					[typeaheadOptionField]="'departmentName'"
					[typeahead]="deps"
					[typeaheadOptionsLimit]="10"
					[typeaheadWaitMs]="200">
				<input type="text" name="departmentId" style="display: none" [hidden]="'true'" [(ngModel)]="default.departmentId">
			</div>
		</div>	
		<div class="condition">
			<label for="fullname" class="text-right"><b class="red">*</b>职位</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off"	[(ngModel)]="default.username">
			</div>
		</div>	
		<div class="condition">
			<label for="fullname" class="text-right"><b class="red">*</b>联系电话</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off"	[(ngModel)]="default.username">
			</div>
		</div>	
		<div class="condition">
			<label for="fullname" class="text-right"><b class="red">*</b>工作电话1</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off"	[(ngModel)]="default.username">
			</div>
		</div>	
		<div class="condition">
			<label for="fullname" class="text-right">工作电话2</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off"	[(ngModel)]="default.username">
			</div>
		</div>	
		<div class="condition">
			<label for="fullname" class="text-right"><b class="red">*</b>公司邮箱</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off"	[(ngModel)]="default.username">
			</div>
		</div>	
		<div class="condition">
			<label for="fullname" class="text-right"><b class="red">*</b>工作地址</label>
			<div class="condition-input">
				<input  type="text" class="form-control" #company name="company" autocomplete="off"	[(ngModel)]="default.username">
			</div>
		</div>
		
	
	</div>
	<div class="right_box">	
		<div class="condition">
			<label for="fullname" class="text-right">联系人状态</label>
			<div class="condition-input">
				<label class="btn btn-mint form-control" [(ngModel)]="default.state" btnRadio='0'>有效</label><label class="btn btn-mint form-control" [(ngModel)]="default.state" btnRadio='1'>无效</label>
			</div>
		</div>
		<div class="condition">
			<label for="fullname" class="text-right" style="vertical-align: top;">客户经理备注</label>
			<div class="condition-input">
				<textarea></textarea>
			</div>
		</div>
		<div class="condition" style="margin-top: 50px">
			<label for="fullname" class="text-right" >关注度</label>
			<div class="condition-input">
				<label class="btn btn-mint form-control" [(ngModel)]="default.state" btnRadio='1'>重要</label><label class="btn btn-mint form-control" [(ngModel)]="default.state" btnRadio='2'>一般</label><label class="btn btn-mint form-control" [(ngModel)]="default.state" btnRadio='3'>无关</label>
			</div>
		</div>
		<div class="condition" style="width:445px;height:200px">
				<label for="fullname" class="text-right">名片</label>
				<div class="condition-input">
					<alphain-file-upload id="card_thumbnail" [attr_width]="'282px'" [attr_height]="'172px'" (fileData)="info_card_data($event)" (fileUrl)="info_card_url($event)" [resetTrigger]="resetTrigger" [thumbnail_url]="user.info_card_url"></alphain-file-upload>
					<input type="text" name="name_card_url" class="form-control" [(ngModel)]="user.info_card_url"  style="display:none;">
					<div *ngIf="formErrors.info_card_url" class="alert alert-danger">
						{{ formErrors.info_card_url }}
					</div>
				</div>
				<button *ngIf="!isS"  style="float: right" type="button" class="btn btn-primary"  (click)="UploadBusinessCardAnalysis(del)">解析</button>
				<button *ngIf="isS" disabled="disabled"  style="float: right" type="button" class="btn btn-primary"  (click)="UploadBusinessCardAnalysis(del)">解析中...</button>
		</div>
		<div style="clear: both;"></div>		
	</div>
	 <div style="clear:both;"></div>
</main>
<div bsModal #addOrg="bs-modal" class="modal fade modelPon" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content clearfix" style="height: 380px">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="addOrg.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">添加机构</h4>
            </div>
            <div class="modal-body contentxinxi" style="height: 320px">
            <div class="bsud" style="width: 45%;float:left">
            	<div>
            	<span><i style="color:red"> * </i>机构简称</span><input class="divbd" [(ngModel)]="organization.organizationShortName"  type="" name="">
	            </div>
	           <div>
	           	<span><i style="color:red"> * </i>机构全称</span><input class="divbd" [(ngModel)]="organization.organizationFullName"  type="" name="">
	           </div>
	            <div>
	           	<span><i style="color:red"> * </i>是否是金融机构</span>
	           		<div class="btn-group">
							<label name="isFinancial" class="btn btn-mint" [(ngModel)]="organization.ifFinancialInstitution" btnRadio="1">是</label>
							<label name="isFinancial" class="btn btn-mint" [(ngModel)]="organization.ifFinancialInstitution" btnRadio="2">否</label>
					</div>
	           	</div>
	           	<div>
            	<span>机构所在地：</span>
		           <SELECT class="form-control"  name="sheng" id="to_cn" #city (change)="set_city(city)" > 
						<option value=''>请选择</option> 
						<option *ngFor="let item of provList" [value]="item.name">{{item.name|safeurl}}</option>
						
					</SELECT>
					<select id="city"  name="shi" class="form-control " (change)="con_city()"> 
						<option value=''>请选择</option> 
					</select> 
          		 </div>
	          <!--   <div>
	           		<span>是否是发债机构</span>
	           		<div class="btn-group">
							<label name="isFinancial" class="btn btn-mint" [(ngModel)]="organization.ifFinancialInstitution" btnRadio="1">是</label>
						<label name="isFinancial" class="btn btn-mint" [(ngModel)]="organization.ifFinancialInstitution" btnRadio="2">否</label>
					</div>
           		</div> -->
           	 </div>
           
           <div  class="bsud"  style="width: 45%;float:left">
           	 	
          		 <div>
	           		<span>详细地址</span>
	           		<input class="divbd" [(ngModel)]="organization.detailedAddress"  type="" name="">
           		</div>
           		 <div>
	           		<span><i style="color:red"> * </i>金融机构分类</span><select name=""  class="form-control" [(ngModel)]="orgCondition.c1" (change)="getOrgCate2($event)">
					<option value="" selected>全部</option>
					<option value="{{org1.organizationCategoryId}}" *ngFor="let org1 of orgCate1">{{org1.categoryName}}</option>
					</select>
					<select [disabled]="!orgCate2" name=""  class="form-control" [(ngModel)]="orgCondition.c2">
					<option value="" selected>全部</option>
					<option value="{{org2.organizationCategoryId}}" *ngFor="let org2 of orgCate2">{{org2.categoryName}}</option>
					</select>
           		</div>
           		 <div>
	           		<span>国标分类</span>
	           		<select name="ic1"  class="form-control" [(ngModel)]="organization.internationClassifyId1" (change)="getOrganizationCategoryList2EP($event)">
						<option value="" selected></option>
						<option value="{{org1.internationClassifyId}}" *ngFor="let org1 of orgInCate1">{{org1.internationClassifyName}}</option>
					</select>
					<select [disabled]="!orgInCate2EP" name="ic2"  class="form-control" [(ngModel)]="organization.internationClassifyId2">
						<option value="" selected>无</option>
						<option value="{{org2.internationClassifyId}}" *ngFor="let org2 of orgInCate2EP">{{org2.internationClassifyName}}</option>
					</select>
           		</div>
           		<div>
           			<button style=" position: relative; bottom: -80px;right: -229px;" class="btn btn-primary" (click)="addOrganization(addOrg)">保存</button>
           		</div>
            </div>
             <div class="condition container-fluid" style="padding-left: 400px">
				<!-- <button style="margin-top:-40px" type="button" class="btn btn-primary" (click)="del.hide()">取消</button> -->
			</div>
        </div>
    </div>
</div>