/*分页*/
.pagerow{
	height:auto;
	background:#f5f7fb;
	border:1px #dadada solid;
	margin:0 16px;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-o-box;
	overflow-y:hidden;
}
.pageshowleft{
	width:190px;
	height:66px;
	line-height:66px;
	margin-left:15px;
}
.pageshowleft select{
	width:68px;
	height:34px;
	line-height:34px;
	background:#fff;
	display:inline-block;
}
.pageshowmodle{
	-webkit-box-flex:1;
	line-height:66px;
	text-align: center;
}
.pagefen{
	height:66px;
	line-height:66px;
	margin-right:16px;
}