/*查询条件*/
.screen{
	margin: 14px 14px 0 14px;
	padding:16px 0 16px 16px; 
	border:solid 1px #e1e7eb;
}
.condition{
	display: inline;
	margin: 5px;
	float: left;
}
.condition span{
	display: inline-block;
	width: 80px;
}
.condition input,.condition select{
	width: 150px;
	display: inline;
	margin-left:10px;
}
button.condition.cols_setting{
	padding:5px;
	margin-right:20px;
}
#list input{
	margin: 5px;
}
.selection{
	width: 150px;
	height: 35px;
	border: solid 1px #ccc;
	border-radius: 5px;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}