input[type="file"]{
	border:none;
}
div#thumbnail{
	width:200px;
	height:200px;
	line-height:200px;
	/* background:#ddd url("../../../../../../../../public/images/icon_headimage.png") center center no-repeat; */
	margin-top:18px;
	position:relative;
}
div#thumbnail img{
	width:100%;
	height:100%;
	vertical-align:initial;
}